.block-background {
    -fx-background-color:
            linear-gradient(from 0% 0% to 100% 100%, #E0FFD6, #A0522D),
            linear-gradient(from 0% 100% to 100% 0%, #A0522D, #E0FFD6);
    -fx-background-insets: 0, 0, 1, 1;
}

.grid-pane {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.label-default {
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-pref-height: 25px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 7px 14px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.check-box {
    -fx-font-size: 12px;
}

.heading-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-fill: #333333;
    -fx-padding: 10 0 10 0;
}

.world-label {
    -fx-font-family: "Comic Sans MS", "Comic Sans", cursive;
    -fx-font-size: 40px;
    -fx-text-fill: #333333;
    -fx-padding: 7px;
}